<% if flash[:notice] %>
<p class="notice"><%= notice %></p>
<% end %>
<% if flash[:alert] %>
<p class="alert"><%= alert %></p>
<% end %>
<div class="container">
<%= yield %>
</div>
<h2>User info</h2>
<%= form_with model:@user, local:true do |f| %>
  <label for="inputName">Name</label>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"name"%>
  <label for="inputImage">Image</label>
  <%= f.attachment_field :profile_image, placeholder: "profile_image" %>
  <label for="inputName">Introduction</label>
  <%= f.text_field :introduction, autofocus: true, id:"inputName", placeholder:"introduction"%>
  <%= f.submit "Update User" %>
<% end %>